spring:
  application:
    name: db-h2
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:talento-tech
    username: sa
    password:
  sql:
    init:
      mode: always
      data-locations: classpath:bancos.sql
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create
    show-sql: true
